.hero_content {
    width: 100%;
}

#primary-hero .hero_content figure {
    width: 100%;
    position: relative;
    max-height: 484px;
    height: 100%;
}

.hero_content .experience_card {
    transform: translate(-50%, -50%);
    position: absolute;
}

.row_rev {
    flex-direction: row-reverse;
}

#property-wrapper .property_container {
    margin: 190px 0;
}

.heading_wrapper .heading_wrapper {
    text-align: center;
}

#property-wrapper .property_heading .h2 {

    text-wrap: nowrap;
}

#property-wrapper .show {
    display: none;
}

#property-wrapper .row_rev {
    .property_content {
        text-align: right;
    }

    .property_footer {
        align-items: flex-end;
    }

    .property_details {
        align-items: flex-end;
    }
}


@media (max-width: 768px) {
    .row_rev {
        flex-direction: column;
    }

    #property-wrapper .row_rev {

        .property_content {
            text-align: left;
        }

        .property_footer {
            align-items: flex-start;
        }

        .property_details {
            align-items: flex-start;
        }
    }

    #property-wrapper .property_container {
        margin: 24px auto;
    }

    #property-wrapper .property_heading {
        border-bottom: 1px solid rgba(0, 0, 0, 10%);
        padding-bottom: 16px;
    }

    #property-wrapper .property_details {
        gap: 24px;
    }

    #property-wrapper .property_content {
        gap: 16px;
    }

    #property-wrapper .none {
        display: none;
    }

    #property-wrapper .show {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(0, 10px);
    }

    .hero_content .experience_card {
        transform: translate(0, -80%);
        position: absolute;
        left: -15px;
    }
}