.hero-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 120px;
    margin-top: 120px;
}

.hero-grid {
    position: relative;
}

.hero-grid-1 {
    grid-area: 1 / 1 / 2 / 3;

}

.hero-grid-2 {
    grid-area: 2 / 1 / 3 / 2;
}

.hero-grid-3 {
    grid-area: 2 / 2 / 3 / 3;
}

.hero-img-content {
    background-color: white;
    color: #0D0D0D;
    position: absolute;
    border-radius: 20px;
}

.hero-img-content a {
    background-color: white;
    color: #0D0D0D;
}

.hero-img-content-1 {
    padding: 48px;
    max-width: 595px;
    bottom: 48px;
    left: 48px;
    display: flex;
    flex-direction: column;
    gap: 245px;
}

.hero-img-content-2,
.hero-img-content-3 {
    max-width: 564px;
    padding: 48px 23px 48px 48px;
    bottom: 48px;
    /* transform: translateX(8.5%); */
    left: 48px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.news-section {
    padding: 40px 20px;
    background: #f8f8f8;
}

.news-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.news-list {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 786px;
}

.news-item {
    background: white;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
}

.news-item h3 {
    font-size: 20px;
    margin: 0 0 6px;
}

.news-item .meta {
    font-size: 14px;
    color: #666;
}

.read-more {
    margin-top: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    display: inline-block;
}

.sidebar {
}

.search-input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    max-width: 417px;
}

.category-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: self-end;
}

.category-links li {
    margin-bottom: 15px;
}

.category-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.category-links a:hover {
    text-decoration: underline;
}