.hero-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 120px;
    margin-top: 120px;
}

.hero-grid {
    position: relative;
    width: 100%;
}

.hero-grid figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.hero-grid-1 figure {
    max-height: 600px;
    max-width: 1340px;
}

.hero-grid-2 figure,
.hero-grid-2 figure {
    max-height: 774px;
    max-width: 606px;
}

.hero-grid-1 {
    grid-area: 1 / 1 / 2 / 3;

}

.hero-grid-2 {
    grid-area: 2 / 1 / 3 / 2;
}

.hero-grid-3 {
    grid-area: 2 / 2 / 3 / 3;
}

.hero-img-content {
    background-color: white;
    color: #0D0D0D;
    position: absolute;
    border-radius: 20px;
}

.hero-img-content a {
    background-color: white;
    color: #0D0D0D;
}

.hero-img-content-1 {
    padding: 48px;
    max-width: 595px;
    bottom: 48px;
    left: 48px;
    top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.hero-img-content-2,
.hero-img-content-3 {
    max-width: 564px;
    padding: 48px 23px 48px 48px;
    bottom: 48px;
    /* transform: translateX(8.5%); */
    left: 48px;
    right: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}


/* news section */

.news-section {
    padding: 120px 0px;
    background: #F5F5F5;
    border-radius: 20px;
}

.news-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.news-list {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 786px;
}

.news-item {
    border-bottom: 1px solid rgba(48, 45, 39, 0.15);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 30px;
}

.news-section aside {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 417px;
    /* width: 100%; */
    width: 33%;
}

.search-input {
    padding: 15px 20px;
    border-radius: 14px;
    max-width: 417px;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.06);
    border: none;
}

.search-input:focus {
    outline: none;
}

.category-links {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: self-end;
    gap: 24px;
}

@media (max-width: 1024px) {
    .news-section {
        padding: 64px 0;
    }
}

@media (max-width: 768px) {

    .news-section {
        padding: 24px 0 64px 0;
    }

    .hero-grid-wrapper {
        grid-row-gap: 8px;
        margin-top: 58px;
    }

    .hero-img-content-1,
    .hero-img-content-2,
    .hero-img-content-3 {
        max-width: 100%;
        padding: 24px 38px 24px 24px;
        left: 10px;
        right: 10px;
        bottom: 15px;
        top: auto;
    }

}

@media (max-width: 530px) {

    .justify-start {
        display: flex;
        justify-content:flex-start;
        white-space: nowrap;
    }

    .justify-end {
        display: flex;
        justify-content: flex-end;
    }

    .hero-grid-wrapper {
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 8px;
    }

    .hero-grid-1 figure,
    .hero-grid-2 figure,
    .hero-grid-2 figure {
        height: 342px;
        width: 100%;
    }

    .hero-grid-1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .hero-grid-2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .hero-grid-3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .hero-img-content h2.heading2 {
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    #hero .hero-img-content p.text-big {
        font-size: 14.4px;
        line-height: 20.16px;
        padding: 8px 0 0 0;
    }

    .search-input {
        max-width: 100%;
    }

    .news-section aside {
        display: flex;
        gap: 24px;
        width: 100%;
        max-width: 100%;
    }

    .news-section .category-links {
        /* align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 13.24px;
        column-gap: 0px; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 13px;
        padding: 0 0 23px 0;
    }


    .news-section .category-links li {
        text-align: center;
    }

    .news-container {
        flex-direction: column-reverse;
    }


}