* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    /* color: white; */
    font-family: "Schibsted Grotesk", sans-serif;
    scroll-behavior: smooth;
}

body.no-scroll {
    overflow: hidden;
}


:root {
    --orange: #EA8541;
    --white: #FFFFFF;
    --black: #000000;
    --brown-gray: #302D27;
    --gray: #5F5C57;
    --dark-gray: #302D27;
    --jat-gray: #0D0D0D;
    --size-heading1: 100px;
    --size-heading2: 46px;
    --size-heading3: 36px;
    --size-sm: 14px;
    --size-md: 16px;
    --size-lg: 20px;
    --size-xl: 24px;
}

.bg_jat_gray {
    background-color: var(--jat-gray);
    color: var(--white);
}

.dark-gray {
    color: var(--dark-gray);
}

h1 {
    font-size: var(--size-heading1);
    font-weight: 400;
    letter-spacing: -4px;
    line-height: 90px;
}

.heading2 {
    font-size: var(--size-heading2);
    font-style: normal;
    font-weight: 400;
    line-height: 64.4px;
    letter-spacing: -1.84px;
}

.opacity-80 {
    opacity: 0.8;
}

.heading3 {
    font-size: var(--size-heading3);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1.44px;
}

.text-big {
    font-weight: 400;
    font-size: var(--size-xl);
    line-height: 33.6px;
    letter-spacing: 0px;
}

.paragraph-mid {
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0px;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0px 50px;
}

.uppercase {
    text-transform: uppercase;
}

.global-button {
    /* padding: 18px 32px; */
    padding: 16px 28px;
    border-radius: 8px;
    background-color: var(--orange);
    border: none;
    box-shadow: 0 22px 32px #5F5C5747;
    white-space: nowrap;
    font-size: var(--size-sm);
    line-height: 100%;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--white) !important;
    transition: all 0.5s ease;
}

.global-button i {
    background: transparent;
    color: var(--white) !important;
}

button.global-button:hover {
    background-color: orangered;
}

/* button:hover {
    background-color: orangered;
    box-shadow: 0 22px 32px #5F5C5747;
}

.hamburger-button:hover {
    background-color: transparent;
}

.hamburger-button i:hover {
    color: orangered;
} */

.flex_row_reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex_column_reverse {
    display: flex;
    flex-direction: column-reverse;
}

/* a:hover {
    color: orangered;
} */

/* a {
    transition: all 0.5s ease;
} */

.hamburger-button {
    border: none;
    font-size: 19px;
    background: transparent;
    color: white;
}

.relative {
    position: relative;
}

.brown-gray {
    color: var(--brown-gray);
}

.bg-black {
    background-color: #000;
    color: white;
}

a {
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: var(--size-sm);
    font-style: normal;
    letter-spacing: 1.4px;
    background: transparent;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex-beetwen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.flex-center {
    display: flex;
    justify-content: center;
}

.gap-60 {
    gap: 60px;
}

.gap-64 {
    gap: 64px;
}

.gap-10 {
    gap: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

hr {
    max-width: 1340px;
    margin: 0 auto;
    /* color: var(--dark-gray); */
    opacity: 15%;
}

.font-size-48 {
    font-size: 48px;
    letter-spacing: -1.92px;
}

.rounded-bg {
    /* background: var(--gray); */
    background-color: var(--dark-gray);
    border-radius: 20px;
    border: 2px solid var(--dark-gray);
}

.padding-0 {
    padding: 0px !important;
}

.lowercase {
    text-transform: lowercase;
}

.z-10 {
    z-index: 10;
}

/* header */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2.52px;
    margin-top: 24px;
    gap: 24px;
}

.nav-list {
    display: flex;
    max-width: 621px;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    text-transform: uppercase;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 979.5px;
    gap: 24px;
}

.nav-link-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-list-mobile {
    display: none;
}

.hamburger-butto .open-icon {
    display: inline;
}

.hamburger-button .close-icon {
    display: none;
}

.nav-list li a {
    position: relative;
}


body {
    background-image: url('hero-bg.svg');
    background-repeat: no-repeat;
    background-position: right top;
}


/* hero */

#hero {
    margin-top: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    margin-bottom: 389px;
    position: relative;
}

#hero h1 {
    max-width: 935px;
}

#hero p {
    max-width: 593px;
    padding-bottom: 16px;
}

.circle-image-container {
    position: relative;
}

.circle-image {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 91%;
    top: 186px;
    background: transparent;
}

.spin-image {
    animation: spin 20s linear infinite;
    /* Infinite rotation */
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#hero h1 span {
    color: var(--orange);
}

.hero-btn {
    rotate: 90deg;
    background: transparent;
    font-size: 10px;
    letter-spacing: 1.8px;
    color: var(--white);
    border: none;
    position: absolute;
    top: 150%;
    left: 1%;
    padding: 5px;
    transition: all 0.5s ease;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.hero-btn:hover {
    background-color: transparent !important;
    color: var(--orange);
    scale: 1.1;
}


/*  */

.brand-section {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-bottom: 119px;
}

.logo-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 6px;
}

.logo-slider {
    display: flex;
    animation: scroll 20s linear infinite;
    width: fit-content;
}

.logo-track {
    display: flex;
    gap: 64px;
}

.logo-track img {
    height: 29px;
    flex-shrink: 0;
    margin: 0 25px;
}

/* Optional fade edges */
.logo-container::before,
.logo-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.logo-container::before {
    left: 0;
    /* background: linear-gradient(to left, transparent, #0D0D0D); */
    background: linear-gradient(to left, #0d0d0d00, #0D0D0D);
}

.logo-container::after {
    right: 0;
    background: linear-gradient(to right, #0d0d0d00, #0D0D0D);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.brand-section video {
    border-radius: 20px;
    border: 1px solid #000;
    max-height: 490px;
    max-width: 1340px;
    object-fit: cover;
}


/* blog-section */

.blog-section h2 {
    max-width: 765px;
    margin-bottom: 48px;
}

.article-container {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.article-container h3 {
    white-space: nowrap;
}

.scroll-wrapper {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.scroll-wrapper::-webkit-scrollbar {
    display: none;
}


.article-container figure img {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.article-container article {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.article-container article figure::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, #0D0D0D00, #0D0D0D80);
    z-index: 1;
    pointer-events: none;
}

.blog-section .article-container {
    margin-bottom: 48.5px;
}


.next-step .article-container figcaption {
    position: absolute;
    left: 36.2%;
    bottom: 11%;
    background: transparent;
}

.article-content {
    font-weight: 400;
    font-style: normal;
    position: absolute;
    bottom: 0px;
    background: transparent;
    padding: 0 40px 40px 40px;
    z-index: 10;
}

.article-container article h3,
span {
    background: transparent;
}

.article-container article p {
    background: transparent;
    padding: 16px 0px 32px 0px;
}

.blog-line {
    padding-top: 71.5px;
    padding-bottom: 50px;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.blog-line> :first-child {
    max-width: 100%;
}

.circle-blog-image {
    position: absolute;
    background: transparent;
    left: 4%;
    bottom: 22%;
    height: 65px;
}

.line-container {
    width: 1340px;
    overflow: hidden;
    position: absolute;
    top: 12%;
}

.line-slider {
    display: flex;
    width: max-content;
    animation: move-lines 20s linear infinite;
}

.line-track {
    display: flex;
    /* gap: 100px; */
    color: #EAEBDD;
    font-size: var(--size-lg);
    font-weight: 900;
}

.line-track i {
    margin: 0 20px;
    rotate: 90deg;
    white-space: nowrap;
}

@keyframes move-lines {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

/*  */

.features>:first-child {
    display: flex;
    gap: 176px;
    padding-bottom: 0px;
}

.features>:first-child p {
    padding-bottom: 16px;
}

.features>:first-child h2 {
    white-space: nowrap;
}

.features {
    background-color: #F5F5F5;
    border-radius: 20px;
}

.features article {
    padding: 120px 50px;
}

/* .features * {
    background-color: #F5F5F5;
    color: black;
} */

.features p {
    max-width: 753px;
}

.features-content> :first-child {
    color: var(--orange);
    font-size: var(--size-sm);
    line-height: 19.6px;
    letter-spacing: 2.52px;
    font-weight: 500;
    text-transform: uppercase;
}

.features-content {
    max-width: 630px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: 100%;
}

.features-content ul {
    padding: 8px 0px 16px 18px;
    /* font-size: var(--size-lg); */
    line-height: 25.2px;
}

.features figure img {
    width: 100%;
    overflow: hidden;
}

.features .integrated_img img {
    width: 100%;
    height: auto;
    max-width: 431px;
    max-height: 410px;
    object-fit: cover;
}

.features .figure {
    /* width: 610px; */
    display: flex;
    gap: 188px;
    justify-content: flex-end;
}

.features .figure img {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.reviews-container article {
    padding: 48px 50px;
    gap: 164px;
    border-radius: 20px;
    justify-content: space-between;
}

.reviews h2 {
    padding-bottom: 48px;
}

.reviews span {
    font-size: 18px;
    letter-spacing: 0px;
}

.reviews article {
    background-image: url('reviews-bg.svg');
    background-size: auto 100%;
    background-color: #5F5C5726;
}


/*  */

.next-step {
    padding: 120px 50px;
}

.next-step> :first-child {
    align-items: flex-start;
    display: flex;
    gap: 8px;
}

.next-step> :first-child h2 {
    white-space: nowrap;
}

.next-step p {
    max-width: 663px;
    margin: 0 auto;
}

/*  */

.get-started {
    margin: 120px auto;
}

.get-started>:first-child {
    padding: 120px 46px;
    align-items: flex-start;
    background-image: url('get-started-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #5F5C5726; */
    border-radius: 32px;
    background-color: #0808071c;
    gap: 25px;

}

.get-started .get-started-content {
    max-width: 630px;
    align-items: flex-start;
    gap: 32px;
    background: transparent;
}

.get-started p {
    background: transparent;
}

.get-started h2 {
    background: transparent;
    font-size: 73.24px;
    letter-spacing: -2.9296px;
    font-weight: 400;
    line-height: 65.916px;
}

/* footer */

footer h2 {
    max-width: 674px;
}

footer .footer-list {
    display: flex;
    gap: 48px;
    padding-top: 25px;
    white-space: nowrap;
}

.footer-list li {
    list-style: none;
    text-transform: uppercase;
}

.footer-content {
    padding-top: var(--size-md);
    align-items: flex-start;

}

footer .social {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

footer .social i {
    font-size: 20px;
    padding: 13px;
    border-radius: 100%;
    background-color: var(--dark-gray);
}

footer .footer-line {
    padding-top: 32px;
    padding-bottom: 48px;
}

footer ul {
    gap: 32px;
}

footer div {
    gap: 16px;
}



@media (max-width:1024px) {

    body {
        background-position: top;
        background-size: 143% 8%;
    }

    .global-button {
        font-size: 11.2px;
        letter-spacing: 1.12px;
        padding: 11.5px 15px;
    }

    a,
    .rights_reserved,
    .footer-line p.flex-beetwen {
        font-size: 11.2px;
        line-height: 11.2px;
        letter-spacing: 1.12px;
    }

    .container {
        padding: 0px 24px;
    }

    h1 {
        font-size: 80px;
        letter-spacing: -3.2px;
        line-height: 90%;
    }

    .circle-image {
        /* left: 85%; */
        top: 120px;
    }

    .circle-image-1 {
        width: 110px;
        height: auto;
    }

    .circle-image-2 {
        width: 58.32px;
        height: auto;
    }

    .text-big {
        font-size: var(--size-lg);
        line-height: 26px;
    }

    .features>:first-child {
        gap: 8px;
        padding-bottom: 0px;
        flex-wrap: wrap;
    }

    .features .flex-beetwen {
        justify-content: center;
    }

    .features article {
        padding: 64px 0px
    }

    .heading3 {
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -0.72px;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    p.flex-wrap {
        justify-content: flex-start !important;

    }

    .features .figure,
    .features .gap-60,
    .next-step.gap-60 {
        gap: 25px;
    }

    .article-container {
        gap: 8px;
    }

    .blog-section .article-container {
        padding-top: 60px;
    }

    .line-container {
        top: 0;
    }

    .next-step {
        padding: 64px 24px;
    }

    .next-step> :first-child {
        flex-direction: column;
    }

    .next-step p {
        margin: 0;
    }

    .next-step .article-container figcaption {
        left: 40.2%;
    }

    .reviews-container article {
        gap: 67px;
        padding: 34px 50px 24px 24px;
    }

    .get-started>:first-child {
        flex-direction: column;
        padding: 32px 50px 32px 24px;
        gap: 8px;
    }

    .get-started .get-started-content {
        gap: 24px;
    }

    .article-content {
        padding: 0 24px 24px 24px;
    }

    .text-big {
        font-size: 14.4px;
        line-height: 18.72px;
    }

    footer h2.heading2 {
        font-size: var(--size-xl);
        line-height: 28.8px;
        letter-spacing: -0.96px;
    }

}

@media (max-width:768px) {
    h1 {
        font-size: 46px;
        letter-spacing: -1.84px;
        line-height: 46px;
    }

    .footer-content {
        flex-direction: column;
    }

    footer .footer-list {
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }

    .footer-list.flex-beetwen li a {
        letter-spacing: 1.99px !important;
    }

    footer .social {
        justify-content: flex-start;
        margin-top: 24px;
    }

    .footer-line {
        flex-direction: column;
        align-items: flex-start;
    }

    .rights_reserved {
        order: 3;
    }

    footer .footer-line {
        padding-top: 24px;
        gap: 24px;
        white-space: nowrap;
    }

    footer div {
        gap: 14px;
    }


    .logo {
        height: 39.5px;
        width: auto;
    }

    .hero-btn {
        left: -4%;
    }

    .nav-list-mobile {
        display: block;
    }

    .nav-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 128px 24px 16px 24px;
        background-color: var(--jat-gray);
        gap: 32px;
        height: 100vh;
        justify-content: flex-start;
        overflow: hidden;
        pointer-events: none;
        transform: translateY(-10px);
        opacity: 0;
        transition:
            max-height 0.4s ease-in-out,
            opacity 0.4s ease,
            transform 0.4s ease;
        background-image: url("./menu_bg.svg");
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 100% 57%;
    }

    .nav-container.show {
        max-height: 100vh;
        /* adjust as needed */
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .nav-list a::before {
        content: "";
        position: absolute;
        bottom: -14px;
        width: 100%;
        height: 2px;
        border-bottom: 1px solid #fff;
        opacity: 0.07;
        transition: transform 0.5s ease;
    }

    .nav-container .nav-list {
        flex-direction: column;
        gap: 32px;
        max-width: 100%;
    }

    .hamburger-button {
        display: block;
        z-index: 20;
    }


    #hero {
        margin-bottom: 246px;
        margin-top: 46px;
    }

    .brand-section {
        margin-bottom: 64px;
        margin-top: 0;
    }

    .circle-blog-image {
        width: 17.64px;
        height: auto;
    }

    .article-container {
        flex-direction: column;
        align-items: center;
    }

    .heading2,
    .font-size-48,
    .get-started h2 {
        font-size: var(--size-xl);
        line-height: 28.8px;
        letter-spacing: -0.96px;
    }

    .paragraph-mid {
        font-size: 14.4px;
        line-height: 20.16px;
    }

    .logo-track,
    .line-track {
        gap: 0;
    }

    .logo-track img {
        height: 15px;
        margin: 0 17px;
    }

    .line-track i {
        margin: 0 17px;
        font-size: 10px;
    }

    .blog-line {
        padding: 32px 0px;
    }

    .circle-blog-image {
        bottom: 33%;
    }

    .next-step .article-container figure img {
        max-height: 380px;
    }

    .get-started {
        margin: 64px 0;
    }

    .blog-content figure img {
        max-height: 380px;
        max-width: 100%;
        object-fit: cover;
    }
}

@media (max-width:425px) {
    .brand-section video {
        height: 380px;
        width: 100%;
        object-fit: cover;
        margin: 0 auto;
    }

    h1 {
        font-size: 32px;
        letter-spacing: -1.28px;
        line-height: 32px;
    }
    
    .brand-section h2.heading2{
        max-width: 225px;
    }
}