@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {

    /* Primary Colors */
    --color-primary: #1A73E8;
    --color-secondary: #FBBC05;

    --color-blueviolet-50: #EFF3FE;
    --color-blueviolet-100: #E2E8FD;
    --color-blueviolet-200: #CBD4FA;
    --color-blueviolet-300: #ACB7F5;
    --color-blueviolet-400: #8A92EF;
    --color-blueviolet-500: #6E6FE6;
    --color-blueviolet-600: #5A50D8;
    --color-blueviolet-700: #4F43BF;
    --color-blueviolet-800: #41399A;
    --color-blueviolet-900: #38357A;
    --color-blueviolet-950: #221F47;

    /* Neutrals */
    --color-white: #FFFFFF;
    --color-black: #000000;

    /* Greys */
    --color-gray-50: #F6F6F6;
    --color-gray-100: #E7E7E7;
    --color-gray-200: #D1D1D1;
    --color-gray-300: #B0B0B0;
    --color-gray-400: #888888;
    --color-gray-500: #6D6D6D;
    --color-gray-600: #5D5D5D;
    --color-gray-700: #4F4F4F;
    --color-gray-800: #454545;
    --color-gray-900: #3D3D3D;
    --color-gray-950: #020202;


    /* Font Sizes */
    --fs-h1: 80px;
    --fs-h2: 60px;
    --fs-h3: 48px;
    --fs-h4: 39px;
    --fs-h5: 31px;
    --fs-h6: 25px;
    --fs-body-xl: 18px;
    --fs-body-lg: 16px;
    --fs-body-sm: 14.4px;
    --fs-body-xs: 11.2px;

    /* Letter Spacing */
    --ls-80: -3.2px;
    --ls-60: -2.4px;
    --ls-48: -1.9px;
    --ls-39: -1.6px;
    --ls-31: -1.2px;
    --ls-25: -0.8px;
    --ls-18: -0.2px;
    --ls-16: -0.2px;
    --ls-14: -0.1px;
    --ls-11: -0.1px;

    /* Line Heights */
    --lh-80: 88px;
    --lh-60: 72px;
    --lh-48: 57.6px;
    --lh-39: 46.8px;
    --lh-31: 37.2px;
    --lh-25: 32.5px;
    --lh-18: 28.8px;
    --lh-16: 25.6px;
    --lh-14: 23.04px;
    --lh-11: 17.92px;

    /* Static Tracking */
    --track-title-sm: 0;
    --track-label-lg: 0.1px;
    --track-label-md: 0.5px;
    --track-label-sm: 0.5px;
    --track-body-lg: 0.5px;
    --track-body-md: 0.25px;
    --track-body-sm: 0.4px;
    --track-display-lg: -0.25px;

}


/* Headings */
.h1 {
    font-size: var(--fs-h1);
    line-height: var(--lh-80);
    letter-spacing: var(--ls-80);
}

.h2 {
    font-size: var(--fs-h2);
    line-height: var(--lh-60);
    letter-spacing: var(--ls-60);
}

.h3 {
    font-size: var(--fs-h3);
    line-height: var(--lh-48);
    letter-spacing: var(--ls-48);
}

.h4 {
    font-size: var(--fs-h4);
    line-height: var(--lh-39);
    letter-spacing: var(--ls-39);
}

.h5 {
    font-size: var(--fs-h5);
    line-height: var(--lh-31);
    letter-spacing: var(--ls-31);
}

.h6 {
    font-size: var(--fs-h6);
    line-height: var(--lh-25);
    letter-spacing: var(--ls-25);
}

/* Body Text */
.body-xl {
    font-size: var(--fs-body-xl);
    line-height: var(--lh-18);
    letter-spacing: var(--ls-18);
}

.body-lg {
    font-size: var(--fs-body-lg);
    line-height: var(--lh-16);
    letter-spacing: var(--ls-16);
}

.body-sm {
    font-size: var(--fs-body-sm);
    line-height: var(--lh-14);
    letter-spacing: var(--ls-14);
}

.body-xs {
    font-size: var(--fs-body-xs);
    line-height: var(--lh-11);
    letter-spacing: var(--ls-11);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
}

.border {
    border: 1px solid #EFF3FE;
    border-radius: 16px;
}

.global-btn {
    font-size: var(--fs-body-lg);
    line-height: var(--lh-14);
    letter-spacing: var(--ls-16);
    border: 1px solid var(--color-blueviolet-600);
    border-radius: 16px;
    padding: 12px 24px;
    color: var(--color-blueviolet-600);
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
}

.global-btn span {
    display: flex;
    align-items: center;
}

/* .nav-btn:hover {
    color: var(--color-white);
    background-color: var(--color-blueviolet-600);
}

.nav-btn path {
    stroke: var(--color-blueviolet-600);
}

.nav-btn:hover path {
    stroke: var(--color-white);
} */
.blueviolet-600 {
    background-color: var(--color-blueviolet-600);
    color: var(--color-white);
}

.blueviolet-100 {
    background-color: var(--color-blueviolet-100);
}

.flex-col-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.relative {
    position: relative;
}

.gap-50 {
    gap: 50px;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    max-width: 2560px;
    margin: 0 auto;
}

.gray-700 {
    color: var(--color-gray-700);
}

.gray-900 {
    color: var(--color-gray-900);
}
.gray-950 {
    color: var(--color-gray-950);
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}