.cart-table {
    width: 100%;
    padding-bottom: 30px;
    max-width: 788px;
    border: 1px solid var(--color-gray-100);

    height: min-content;
}
.wrapper{
    margin-top: 0;
}
table {
    width: 100%;

}

.cart-table th,
.cart-table td {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.cart-table td img {
    width: 60px;
    height: auto;
}


.qty-control {
    display: flex;
    align-items: center;
    gap: 5px;
}

.qty-btn {
    padding: 5px 10px;
    border: 1px solid var(--color-gray-100);
    background: #fff;
    cursor: pointer;
    height: 43px;
    width: 45px;

}

.qty-input {
    width: 45px;
    text-align: center;
    border: 1px solid var(--color-gray-100);
    padding: 5px;
    height: 43px;
}

.cart-product {
    padding: 38px 23px 43px 50px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-actions {
    padding: 28px 41px;
}

.cart-actions button {
    border: 1px solid var(--color-gray-100);

}

.cart-actions input {
    padding: 10px 20px;
    border: 1px solid var(--color-gray-100);
    border-radius: 28px;
}

.cart-actions input:focus {
    outline: none;
}

.quantity-control input {
    background-color: var(--color-gray-50);
}

/* cart summary */

.cart-summary {
    max-width: 442px;
    width: 100%;
    border: 1px solid var(--color-gray-100);
    padding: 31px 41px 41px;
}

.cart-summary h3 {
    padding-bottom: 20px;
}

.shipping-section {
    border-bottom: 1px dashed var(--color-gray-100);
    border-top: 1px dashed var(--color-gray-100);
    padding: 15px 0 30px;
    margin: 15px 0;
}

.cart-summary select,
.cart-summary input {
    padding: 10px 5px;
    border: 1px solid var(--color-gray-100);
}

.cart-summary select:focus,
.cart-summary input:focus {
    outline: none;
}

#checkoutBtn{
    width: 100%;
    background-color: var(--color-gray-900);
    color: white;
}

#checkoutBtn:hover{
    background-color: var(--color-primary);
}
.quantity-control{
    display: flex;
    gap: 5px;
}

@media (max-width:1024px) {
    .content-wrappwer{
        flex-direction: column;
    }
    .cart-summary{
        max-width: 100%;
        padding: 20px 30px;
    }
    .cart-table {
        overflow-x: scroll;
        max-width: 100%;
    }
    .cart-actions{
        gap: 15px;
        flex-wrap: wrap;
        padding: 20px 10px;
    }
    .cart-summary .shipping-section.flex{
        flex-direction: column;
        gap: 0px;
    }
    .coupon-area{
        flex-direction: column;
    }
}