.menu {
    display: none;
}

#header {
    background-color: transparent;
    background-color: transparent;
    position: fixed;
}

.header-wrapper {
    padding: 25px 0;
}

header {
    width: 100%;
    top: 45px;
    z-index: 100;
    transition: background-color 0.6s ease;
}

#header.scrolled {
    background-color: white !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    top: 0 !important;
}


header ul,
header nav {
    max-width: 437px;
}

.wrap-icon-header {
    /* height: 84px; */
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 22px;
}

.logo-container {
    margin-right: 65px;
}

header ul li a {
    font-family: "Poppins", sans-serif;
    transition: all 0.5s ease;
    color: var(--color-gray-700);
}

header ul li a:hover {
    color: var(--color-primary);
}

/* hero started */
.hero {
    /* min-height: calc(100vh - 45px); */
    min-height: 100vh;
}

.hero-content .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    /* height: 100%; */
    height: 100vh;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    /* opacity: 0; */
    /* transition: all 0.5s ease; */
}

.hero-content p {
    width: 100%;
    transform: translateX(100%);
    opacity: 0;
}

.active.hero-content p {
    text-align: left;
    transform: translateX(0);
    opacity: 1;
    transition: all 1.2s ease;
}

.hero-content h1 {
    transform: translate(-50%, 100%);
    rotate: -100deg;
    opacity: 0;
}

.active.hero-content h1 {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 1.2s ease;
    rotate: 0deg;
}

.below-top-animation {
    transform: translateY(200%);
    opacity: 0;
}

.active .below-top-animation {
    opacity: 1;
    transform: translateY(0);
    transition: all 1.2s ease;
}

.active.hero-content {
    opacity: 1;
}

.hero h1 {
    padding: 19px 0 43px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-next i,
.swiper-button-prev i {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.swiper-button-next i:hover,
.swiper-button-prev i:hover {
    color: var(--color-primary);
}

.swiper-button-next {
    left: 95% !important;
}

.swiper-button-prev {
    right: 95% !important;
    left: auto !important;
}

/* block section */

.block {
    position: relative;
    overflow: hidden;
    height: 248px;
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 34px 36px;
    transition: all 0.5s ease;
}

.block:hover {
    background-color: rgba(103, 117, 214, 0.8);
}

.hover:hover .below-top-animation {
    opacity: 1;
    transform: translateY(0);
}


.b-b {
    border-bottom: 2px solid;
    width: fit-content;
}

.block-container {
    gap: 32px;
}

.block::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
}

.block1::before {
    background-image: url(../images/banner-01.jpg);
}

.block2::before {
    background-image: url(../images/banner-02.jpg);
}

.block3::before {
    background-image: url(../images/banner-03.jpg);
}


/* Product Overview */
.product-card {
    transition: all 0.5s ease;
    flex-direction: column;
    gap: 14px;
}

.product-card figure {
    max-height: 343px;
    max-width: 315px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 34px;
}


.product-btn {
    position: absolute;
    bottom: 40px;
    right: 50%;
}


.below-top-animation-2 {
    transform: translate(50%, 200%);
    opacity: 0;
    transition: all 0.7s ease;
}

.hover:hover .below-top-animation-2 {
    opacity: 1;
    transform: translate(50%, 0);
}

.categories {
    gap: 32px;
}

.categories button {
    border: none;
    background-color: transparent;
    position: relative;
    transition: all 0.5s ease;
}

.categories button::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1.5px;
    background-color: var(--color-gray-900);
    bottom: 0;
    transition: all 0.5s ease;
}

.categories button.active::before {
    width: 100%;
}

.categories button:hover::before {
    width: 100%;
}

.product-overview .header {
    gap: 50px;
}


/* footer */

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}

footer {
    background-color: var(--color-gray-800);
    padding: 75px 0 32px;
}

.footer-column .links {
    gap: 22px;
}

.footer-column form input {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--color-gray-600);
    padding-bottom: 5px;
}

.footer-column form input:focus {
    outline: none;
}

.onHoverUnderLine:focus-within::before {
    width: 100%;
}

.filter-groups {
    background-color: #f2f2f2;
    margin-top: 24px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.7s ease;
    opacity: 0;
    padding: 0 35px;
}

.filter-group h4 {
    padding-bottom: 10px;
}

/* filter active class */

.filter-slide {
    padding: 27px 35px;
    opacity: 1;
    max-height: 300px;
    gap: 30px;
}

.tooltip-bottom::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(50%, 100%);
    bottom: 9px;
    width: 15px;
    height: 15px;
    background: #f2f2f2;
    rotate: 45deg;
    border: 1px solid var(--color-gray-600);
    border-left-style: none;
    border-top-style: none;
    transition: all 0.6s ease;
}

.tooltip-bottom:hover::before {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.filter-btns button {
    border-radius: 27px;
    border: 1px solid #ccc;
    padding: 5px 15px;
}

.filter-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 217px;
}

.footer-bottom {
    text-align: center;
}



/* resposive */

@media (max-width:1024px) {
    .block {
        padding: 15px;
    }

    .block-container {
        gap: 16px;
    }

    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

   .footer-grid .footer-column:last-child {
        grid-area: 2 / 1 / 3 / 4;
    }
}


@media (max-width:768px) {
    .menu {
        display: flex;
    }

    header nav {
        order: 5;
        position: fixed;
        width: 100%;
        top: 63px;
        left: 0;
        /* display: none; */
        /* opacity: 0; */
        overflow: hidden;
        transition: all 0.8s ease;
        /* backdrop-filter: blur(10px); */
        background-color: var(--color-primary);
        max-height: 0;
    }

    .header-wrapper {
        flex-wrap: wrap;
        gap: 30px;
    }

    header nav.active {
        z-index: -1;
        opacity: 1;
        max-height: 500px;
        /* padding-top: 63px; */
    }

    ul li a.active {
        color: white;
    }

    header nav ul {
        flex-direction: column;
        gap: 20px;
        padding: 20px 15px;

    }

    header ul,
    header nav {
        max-width: unset;
    }

    header {
        top: 0;
    }

    .footer-grid {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-row-gap: 50px;
    }

    .filter-groups {
        gap: 10px;
    }

    .block-container {
        flex-wrap: wrap;
    }

    .block-container .block {
        height: 430px;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        /* grid-column-gap: 30px;
        grid-row-gap: 34px; */
    }

    .product-overview .filter-header {
        flex-wrap: wrap;
        gap: 20px;
    }

    .product-overview .categories {
        flex-wrap: wrap;
        gap: 20px;
        row-gap: 5px;
    }

    #filter {
        flex-wrap: wrap;
    }

    #filter.filter-slide {
        max-height: 550px;
    }

    .product-card figure {
        max-height: none;
        max-width: none;
    }

    .logo-container {
        margin-right: 0;
    }
     .footer-grid .footer-column:last-child {
        grid-area:unset;
    }
}

@media (max-width:600px) {
    .block-container .block {
        height: 250px;
    }
        .footer-grid {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

}

@media (max-width:425px) {
    #filter.filter-slide {
        flex-direction: column;
        max-height: 1000px;
        flex-wrap: nowrap;
    }


    .product-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .logo-container figure img {
        height: 13px;
    }
}