header {
    padding-top: 30px;

    .header-wrapper {
        background-color: var(--color-white);
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
        position: relative;
        border-radius: 16px;
        border: 1px solid #EFF3FE;
    }

    nav {
        max-width: 402px;
        width: 100%;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        line-height: 23.04px;
        font-weight: 600;
    }

    li a {
        text-decoration: none;
        color: var(--color-gray-700);
        transition: all 0.5s ease;

    }

    li {
        list-style: none;
        transition: all 0.5s ease;
        position: relative;
        /* box-shadow: 1px 0px 0px 0px red; */
    }

    li a::before {
        position: absolute;
        content: "";
        background-color: #5A50D8;
        height: 2px;
        bottom: 0;
        transition: all 0.5s ease;
        width: 0;
    }

    li a:hover::before {
        height: 2px;
        width: 100%;
    }

    li a:hover {
        color: #5A50D8;
    }

    .button-container {
        display: flex;
        gap: 12px;
    }
}

header .menu-toggle {
    display: none;
    padding: 13px 12px;
    background-color: #FAFAFA;
}

.mobile-buttons {
    display: none;
}

.hero {
    .hero-bg {
        position: absolute;
        pointer-events: none;
        z-index: -1;
        /* top: -272px; */
        top: 0;
        left: 0;
        right: 0;
        bottom: -40px;
        /* height: 100vh; */
    }

    /* .hero-bg img {
        max-height: 910px;
    } */

    .hero-header {
        max-width: 597px;
        width: 100%;
        gap: 16px;
        text-align: center;
    }

    .hero-wrapper {
        /* max-width: 597px; */
        width: 100%;
        gap: 50px;
        align-items: center;
        margin-top: 129px;
        padding-bottom: 129px;
    }

    .hero-btn {
        gap: 20px;
    }

    .card1 {
        position: absolute;
        top: -82px;
        left: 0;
    }

    .card2 {
        position: absolute;
        bottom: 90px;
        left: 100px;
    }

    .card3 {
        position: absolute;
        top: -18px;
        right: 0;
    }

    .card4 {
        position: absolute;
        /* bottom: -120px; */
        transform: translate(-50%, 0);
    }
}

/* companies section start  */

.companies {
    background-color: var(--color-white);
}

.companies-wrapper {
    padding: 80px 0;
}

.section-header {
    text-align: center;
    max-width: 736px;
    gap: 16px;
}

.companies-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    width: 100%;
    grid-row-gap: 42px;
}

.built_for_you {
    padding: 80px 0;
    background-color: #FAFBFF;
}


.built_for_you_wrapper {
    display: flex;
    align-items: center;
}

.built_for_you_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
    justify-content: center;
}

.built_for_you article img {
    box-sizing: content-box;
    border-radius: 16px;
    background-color: var(--color-white);
}

.built_for_you article .img1 {
    width: 26px;
    padding: 15px 22px;
}

.built_for_you article .img2 {
    width: 40px;
    padding: 19.5px 15px;
}

.built_for_you article .img3 {
    width: 50px;
    padding: 10px;
}

.built_for_you article {
    border-radius: 16px;
    border: 1px solid var(--color-blueviolet-100);
    border-radius: 16px;
    /* aspect-ratio: 341/435; */
    padding: 40px;
    /* max-height: 577px; */
    gap: 100px;
    background-image: linear-gradient(to left bottom, #FAFBFF, #ECF1FE);
    position: relative;
}

.built_for_you article::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../images/articleGrid.svg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.built_for_you article .article-content {
    gap: 12px;
}

section.features {
    padding: 80px 0;
    background-color: var(--color-white);
}

.features_wrapper {
    gap: 50px;
}

.features_grid {
    gap: 70px;
}

.rectangleGroup1 {
    max-height: 161px;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.rectangleGroup2 {
    max-height: 110px;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

.features_grid .feature {
    align-items: center;
    gap: 70px;
}

.features_content {
    align-items: flex-start;
    aspect-ratio: 476/302;
    gap: 12px;
    justify-content: center;
    max-width: 476px;
}

.features_content p {
    padding: 4px 0;
}

.features_grid .feature figure {
    border-radius: 12px;
    background-color: #EFF3FE;
    background-image:
        linear-gradient(to left bottom, var(--color-blueviolet-300) 0%, var(--color-blueviolet-200) 49%, var(--color-blueviolet-300) 100%),
        #EFF3FE;
}

.features_grid figure img:first-child {
    aspect-ratio: 518/497;
    padding: 40px;
    max-width: 518px;
    max-height: 497px;
}

/* reviews section start */

.reviews {
    padding: 80px 0;
    background-color: #FCFCFC;
}

/* marquee start*/

.marquee-container {
    position: relative;
    width: 100%;
    gap: 20px;
}

.marquee-wrapper {
    position: relative;
    width: 100%;
    max-width: 100vw;
}

.marquee {
    position: relative;
    overflow: hidden;
    --gap: 20px;
    display: flex;
    user-select: none;
    gap: var(--gap);
}

.marquee-group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 60s linear infinite;
}

.marquee-reverse .marquee-group {
    animation-direction: reverse;
    animation-delay: -3s;
}

.marquee-logo-item {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}


.marquee-logo-item img {
    max-width: 150px;
    object-fit: contain;
    transition: all 0.3s ease;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

/* Pause on Hover (Optional) */
.marquee:hover .marquee-group {
    animation-play-state: paused;
}

/* Ensure smooth animation */
@media (prefers-reduced-motion: reduce) {
    .marquee-group {
        animation-duration: 60s;
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .marquee-group {
        animation-duration: 30s;
    }
}

/*  */

.reviews .review {
    padding: 40px;
    width: 543px;
    height: auto;
    gap: 20px;
    border: 1px solid var(--color-blueviolet-100);
    border-radius: 16px;
    background-color: var(--color-white);
}

.reviews .review .header img {
    height: 60px;
    width: auto;
    aspect-ratio: 1;
    border-radius: 16px;
}

.reviews .header {
    gap: 16px;
}

.reviews .header div {
    gap: 6px;
}

.review .starts {
    padding-top: 20px;
    border-top: 1px solid var(--color-gray-100);
    gap: 6px;
}

/* marquee end */

/* plan section start  */

/* To hide the checkbox */
#checkboxInput {
    display: none;
}

.toggleSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 30px;
    background-color: #02C519;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .2s;
    margin: 0 4px;

}

.toggleSwitch::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    left: 5px;
    background-color: transparent;
    border-radius: 50%;
    transition-duration: .2s;
    box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
    border: 5px solid white;
}

#checkboxInput:checked+.toggleSwitch::after {
    transform: translateX(100%);
    transition-duration: .2s;
    background-color: white;
}

/* Switch background change */
#checkboxInput:checked+.toggleSwitch {
    background-color: rgb(148, 118, 255);
    transition-duration: .2s;
}

section.plans {
    padding: 80px 0;
}

.plans .section-header {
    max-width: 561px;
}

.plans_wrapper .plan_grid {
    align-items: center;
    gap: 52px;
    width: 100%;
}

.plan_grid .offer {
    color: var(--color-blueviolet-600);
    padding: 4px 8px;
    background-color: #F5FFF6;
    border-radius: 16px;
}

.plan_grid .header {
    gap: 12px;
    align-items: center;
}

.plan_grid .planCard {
    background-color: var(--color-blueviolet-50);
    padding: 40px;
    border-radius: 16px;
    gap: 30px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.plan_grid .popular {
    background-image: linear-gradient(to left bottom, var(--color-blueviolet-600) 0, var(--color-blueviolet-500) 49%, var(--color-blueviolet-600)100%);
}

.plan_grid .popular::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../images/footerGrid.svg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-size: cover;
    background-repeat: no-repeat;
}

.plan_grid .planCard button {
    z-index: 1;
}

.plan_grid .planCard ul {
    padding-top: 24px;
    gap: 12px;
    position: relative;
    z-index: 1;
}

.plan_grid .planCard ul li {
    position: relative;
    list-style: none;
    padding-left: 30px;
}

.plan_grid .planCard li::before {
    content: " ";
    background-image: url(../images/blueTick.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 24px;
    width: 24px;
}

.plan_grid .popular li::before {
    background-image: url(../images/whiteTick.svg);
}

.plan_grid .planCard ul li::marker {
    display: flex;
}

.plan_grid .planCard .plan_header {
    gap: 12px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-blueviolet-100);
}

.plan_grid .popular .plan_header {
    border-bottom: 1px solid var(--color-blueviolet-500);
}

.plan_grid .popular .plan_header button {
    padding: 6px 16px;
}

.plan_grid .plan_header button {
    position: absolute;
    right: 0;
    top: 0;
}

.plan_grid .planCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* questions section */

#question-wrapper {
    /* max-width: 556px; */
    width: 100%;
}

section.questions {
    background-color: #FCFCFC;
    padding: 80px 0;
}

.questions .questions-wrapper {
    justify-content: center;
    gap: 89px;
}

.questions .section-header {
    max-width: 419px;
    text-align: left;
}

.questions .faq-question {
    cursor: pointer;
    align-items: center;
}

.questions .faq-items {
    gap: 12px;
}

.questions .faq-item {
    padding: 40px 43px 40px 40px;
    background-color: var(--color-blueviolet-50);
    border-radius: 16px;
    /* max-height: 200px; */
}

.questions .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.questions .faq-active {
    border: 1px solid var(--color-blueviolet-600);
    border-radius: 16px;
    gap: 16px;
}

/* footer */

footer::before {
    content: "";
    position: absolute;
    width: 100%;
    background-image: url(../images/footerGrid.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

footer {
    padding-top: 80px;
    background-color: var(--color-gray-950);


    .footer_top {
        padding: 80px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: var(--color-blueviolet-600);
        border-radius: 16px;
        align-items: center;
        gap: 24px;
        flex-wrap: wrap;
    }

    .footer_top div {
        gap: 16px;
    }

    .footer-center {
        margin: 80px 0;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    .footer-center figure {
        max-height: 138px;
        width: auto;
    }

    .footer-link {
        max-width: 371px;
        width: 100%;
        /* white-space: nowrap; */
        gap: 50px;
        row-gap: 25px;
        display: flex;
        flex-wrap: wrap;
    }

    .footer-link a,
    .footer-line a {
        text-decoration: none;
        color: var(--color-gray-300);
    }

    .footer-line {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px 0;
    }

    .footer-line .social {
        gap: 20px;
        display: flex;
    }
}




/* feature page  */
.feature-page {

    .features .categories {
        height: 497px;
        max-width: 518px;
        /* height: 100%; */
        width: 100%;
        background-color: #EFF3FE;
        background-image:
            linear-gradient(to left bottom, var(--color-blueviolet-300) 0%, var(--color-blueviolet-200) 49%, var(--color-blueviolet-300) 100%),
            #EFF3FE;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        overflow: hidden;
    }

    .features .categories .categories_card {
        border: 10px solid #FFFFFF66;
        box-shadow: inset 0 0 0 1px var(--color-blueviolet-50);
        filter: drop-shadow(-22px 20px 50px rgba(0, 0, 0, 5%));
        /* backdrop-filter: blur(24px); */
        width: 100%;
        max-width: 320px;
        padding: 20px;
        border-radius: 16px;
        background-color: var(--color-white);
    }

    .features .categories_card ul {
        gap: 8px;
        z-index: 1;
        padding: 20px;
    }

    .features .categories_card li {
        list-style: none;
        padding: 12px 0 12px 12px;
        background-color: #FAFBFF;
        border: 1px solid #FAFAFA;
        border-radius: 16px;
    }
}



/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 156px;
    background-color: #110F24;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 50%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.pricing_page {
    .hero-header {
        max-width: 767px;
        text-align: center;
    }
}




/* responsive */

@media (max-width:1024px) {
    header {
        .header-wrapper {
            width: 100%;
        }
    }

    .hero {

        .card-container {
            position: relative;
            width: 100%;
            height: 617px;
        }

        .card1,
        .card3 {
            top: 80px;
        }

        .card2 {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .card4 {
            position: absolute;
            top: 0;
            transform: translate(-50%, 0);
            left: 50%;
        }
    }

    .plan_grid .planCard {
        padding: 30px;
    }

    #hero .hero-bg {
        height: 1400px;
    }

    header .button-container {
        display: none;
    }
}


@media (max-width:768px) {
    #hero .hero-bg {
        height: unset;
    }

    .hero .hero-bg {
        bottom: 0;
    }

    section.hero {
        position: relative;
    }

    header .button-container {
        display: none;
    }

    header {
        padding-top: 0;
    }

    header .header-wrapper {
        border-radius: 0;
        border: none;
        flex-wrap: wrap;
        padding: 12px 20px;
    }

    header .container {
        padding: 0
    }


    header .menu-toggle {
        display: flex;
    }

    .nav-menu {
        order: 4;
        flex-direction: column;
        gap: 25px;
        max-width: none;
        width: calc(100% + 2px);
        transition: all 0.8s ease-in-out;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 70px;
        background-color: var(--color-white);
        z-index: 10;
        left: -1px;
        right: 0;
        padding: 0 20px 38px;
        box-shadow: 0px 25px 20px 0px #00000013;
    }

    .nav-menu.show {
        max-height: 550px;
        opacity: 1;
    }

    .nav-menu ul {
        padding: 50px 0;
        gap: 15px;
        flex-direction: column;
    }

    .nav-menu ul li {
        padding-bottom: 15px;
        border-bottom: 1px solid var(--color-blueviolet-200);
    }

    .mobile-buttons {
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: flex-start;
    }


    #hero .hero-wrapper {
        padding-bottom: 50px;
    }


    .hero {

        .hero-wrapper {
            padding-top: 40px;
            text-align: center;
            gap: 38px;
            margin-top: 0;
        }

        .hero-header {
            gap: 8px;
        }

        .card-container {
            height: 350px;
        }

        .card1 {
            width: 169px;
            height: 149px;
        }

        .card2 {
            width: 168px;
            height: 114px;
        }

        .card3 {
            width: 175px;
            height: 248px;
        }

        .card4 {
            width: 168px;
            height: 72px;
        }
    }

    .companies-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 23px;
    }

    .companies-grid img {
        max-width: 125px;
    }

    .built_for_you_grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .features_grid .flex-row-rev,
    .features_grid .flex-row {
        flex-direction: column;
    }

    .plan_grid .planCards {
        flex-direction: column;
    }

    .questions .questions-wrapper {
        flex-direction: column;
        gap: 30px;
    }

    .questions .section-header,
    .section-header {
        max-width: 100%;
        text-align: center;
    }

    .questions .faq-active {
        gap: 12px;
    }

    footer {
        padding-top: 40px;
    }

    footer .footer_top {
        justify-content: center;
        text-align: center;
        padding: 30px;
        flex-direction: column;
    }

    footer .footer_top div {
        gap: 8px;
    }

    footer .footer-center {
        max-width: 100%;
        justify-content: center;
        margin: 40px 0 30px 0;
    }

    footer .footer-line {
        max-width: 100%;
        justify-content: center;
        row-gap: 20px;
    }

    footer .footer-link {
        max-width: 100%;
        justify-content: space-between;
        row-gap: 20px;
    }

    footer .footer-center figure {
        max-width: 242px;
    }

    footer .footer-link a {
        flex-grow: 1;
        text-align: center;
    }

    .features_content {
        aspect-ratio: unset;
    }

    .built_for_you article .article-content {
        gap: 6px;
    }

    .built_for_you article {
        padding: 30px;
    }

    .section-wrapper {
        gap: 30px;
    }

    .section-header {
        gap: 16px;
    }

    .features_grid figure img:first-child {
        max-height: 315px;
    }

    .features_content button {
        padding: 4px 8px;
        font-size: var(--fs-body-xs);
        line-height: var(--lh-11);
        letter-spacing: var(--ls-11);
    }

    .features_grid figure img:first-child {
        padding: 25px;
    }

    .features_grid .feature {
        gap: 34px;
    }

    .features_grid {
        gap: 60px;
    }

    .reviews .review {
        padding: 30px;
        /* height: 294px; */
        width: 320px;
    }

    .plan_grid .planCard>button {
        justify-content: center;
        width: 100%;
    }

    .plan_grid .planCard .plan_header {
        gap: 8px;
        padding-bottom: 20px;
    }

    .plan_grid .planCard ul {
        padding-top: 30px;
    }

    .plans_wrapper .plan_grid {
        gap: 30px;
    }

    .feature-page {
        .hero .hero-wrapper {
            padding: 80px 0;
        }

        button.mt-22 {
            display: none;
        }
    }


    .features_content {
        gap: 16px;
    }

    .features_content p {
        padding: 0;
    }

    .tooltip .tooltiptext {
        top: -1px;
        left: 40%;
    }

    section.features,
    section.questions,
    section.plans,
    .companies-wrapper,
    .built_for_you,
    .reviews {
        padding: 40px 0;
    }
}

@media (max-width:425px) {
    .hero .hero-btn {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
}