@media screen and (min-width: 1920px) {
    .heading-style-one {
        font-size: 7.5rem;
    }
.container{
    padding-left: 8rem;
    padding-right: 8rem;
}


}
@media screen and (min-width: 1440px) {
    .container{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media screen and (max-width: 991px){
    .container{ 
        padding-left: 1.5rem;
        padding-right:1.5rem;
    }
    .custom-head01,.custom-head02{
        font-size: 36px;
    }
    .custom-head03{
        font-size: 24px;
    }
    .video-grid.moblile{
        display: block;
      }
      .video-grid.web{
        display: none;
      }
    .home-hero {
     position: relative;
     width: 100%;
     height: auto; 
     background: #000;
   }
   .aboutus .left > div{
    text-align: center;
   }
   .aboutus .left h1 {
    margin: auto;
}
.aboutus .right {
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 50px;
}
.features .head { 
    margin-bottom: 50px;
}
.features-card-wrapper.second {
    padding-top: 30px;
    padding-bottom: 30px;
}
.home-contact .row::after {
    position: absolute;
    content: "";
    border: 1px solid #90af03;
    border-radius: 24px;
    padding: 40px 30px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 0;
    border-right: 1px solid #90af03;
    width: 100%;
    height: 86%;
    top: 0;
    left: 0;
    z-index: -1;
}
#faq .card .card-header .btn-header-link{
    font-size: 20px;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 70px;
}
   }
  
 

   @media screen and (max-width: 768px) {
    .navbar img{
        max-width: 150px;
    }
    #faq .card .card-header .btn-header-link{
        font-size: 20px;
        padding-left: 0;
    }
    .faqs .row > div{
        padding: 0;
    }
    .card-body{
        padding-left: 0;
    }
    .cta-head > div{
        padding: 40px 30px;
    }
    .heading-style-one {
        font-size: 3.75rem; 
    }
    .footer-right-image {
        width: 3.125rem;
        margin-top: .5rem;
    }
    .footer-main {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        flex-flow: column;
    }
    .padding-vertical {
        padding-top: 75px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 576px) {
    .navbar img{
        max-width: 150px;
    }
    .aboutus-team-left {
        padding-right: 15px;
    }
    .aboutus .aboutus-team-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }
    .aboutus ,.features > div{ 
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .aboutus-team-left .aboutus-team-card.first {
        margin-top: 0;
    }
}
@media screen and (max-width: 576px) {
    .custom-head01,.custom-head02,.aboutus .left h3{
        font-size: 32px;
    }
    .custom-head03 {
        font-size: 20px;
    }
    .aboutus .left h1 {
        max-width: 300px;
    }
    .features-card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .features-card-wrapper.second {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .features-card-wrapper .features-card { 
        padding: 25px 20px;
        display: flex;
    }
    .features-card-wrapper .features-card-border {
        background-color: #222;
        border-radius: 16px;
        padding: 1px;
    }
    .features-card-wrapper .features-card { 
        border-radius: 15px; 
    }
    .features .head {
        margin-bottom:30px;
    }
    .life-head { 
        padding-bottom: 30px; 
    }
    .cta-head > div {
        padding: 40px 0px;
    }
    
.home-contact-head{
    margin-bottom: 30px;
    text-align: center;
  }
  .from-grid-2 {
    display: flex;
    gap: 15px;
    flex-direction: column;
}
  .from-grid-2 > div {
    width: 100%;
}
.form-wrapper input, .form-wrapper textarea { 
    font-size: 1rem; 
}
.form-wrapper button{
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 16px;
}
.address-Details-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.heading-style-one {
    font-size: 2.75rem;
}
.footer-padding-vertical {
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-heading {
    padding-bottom: 20px;
    font-size: 20px;
}
}

/* @media screen and (max-width: 425px){
    .navbar img{
        max-width: 80px;
    }
} */