.breadcrumb {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin: 0;
    text-transform: uppercase;
}

.breadcrumb a,
.breadcrumb span {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 2.52px;
    font-weight: 500;
}

#hero.about-hero {
    gap: 16px;
    margin-top: 79px;
}

#hero.about-hero p {
    padding: 16px 0 0 0;
    max-width: 759px;
}

.hero-content {
    position: relative;
    margin-top: 104px;
}

.hero-content img {
    max-width: 1340px;
    overflow: hidden;
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    min-height: 380px;
    border-radius: 20px;
    position: relative;
}

.hero-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #0D0D0D66, #0D0D0D1A);
    border-radius: 20px;
    pointer-events: none;
}

.about-hero-text {
    position: absolute;
    max-width: 802px;
    bottom: 0;
    padding: 0 0 48px 48px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
    z-index: 1;
}

.about-hero {
    margin-bottom: 120px !important;
}

/* section header */
.section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    gap: 8px;
    align-items: flex-start;
}

.approach-section .section-header h2 {
    white-space: nowrap;
}

.circle_dash {
    position: absolute;
    top: 0%;
    animation: spin_circle 30s linear infinite;
    width: 370px !important;
    height: 370px !important;
    top: -20%;
    left: 60px;
    overflow: hidden;
}

@keyframes spin_circle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.advisory-section .circle_dash circle {
    stroke: #0D0D0D;

}

/* approach section */
.approach-section .flex-between p {
    max-width: 742px;
    padding-right: 57px;
}

.approach-section .approach-content {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    gap: 10px;
}

.approach-section .approach-card figure {
    height: 606px;
    transition: all 0.5s ease;
    background: linear-gradient(to bottom, #0D0D0D80, #0D0D0D80);
    position: relative;
    max-width: 440px;
}

.approach-section .approach-card figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #0D0D0D80, #0D0D0D80);
}

.approach-section .approach-card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.approach-section .approach-card figure:hover {
    max-width: 774px;
    width: 774px;
    filter: brightness(1.4);
}

.approach-section .approach-card {
    position: relative;
}

.approach-section .approach-card h3 {
    position: absolute;
    rotate: -90deg;
    bottom: 20.4%;
    left: -15%;
    text-align: left;
    width: 200px;
    transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    z-index: 2;
}

.approach-section .approach-card:hover h3 {
    rotate: 0deg;
    bottom: 27.3%;
    left: 6.2%;
    pointer-events: none;
}

.approach-section .approach-card p {
    display: none;
    padding: 0;
    transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    pointer-events: none;
    z-index: 2;
    position: absolute;
    bottom: 8%;
    left: 6.2%;
}

.approach-section .approach-card:hover p {
    display: inline;
}

/* partners section */

.partners-section {
    margin: 120px 0;
}

.header-p {
    max-width: 799px;
}

.header-p span {
    display: block;
    margin-bottom: 8px;
}

.partners-section .section-header h2 {
    max-width: 394px;
}

.outer-wrapper {
    position: relative;
    max-width: 1440px;
    margin: 98px auto 0;
}

.partners-swiper {
    max-width: 1440px;
    padding: 0 50px;
    margin: 0 auto;
    overflow: hidden;
}

.swiper {
    overflow: visible !important;
    width: 100%;
    margin: 0 !important;
}

.partners-content {
    gap: 20px;
}

.swiper-slide {
    text-align: center;
    margin: 0 !important;
}

.partners-swiper figure {
    margin: 0;
    height: 380px;
    width: 100%;
}

.partners-swiper figure img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.partners-swiper .swiper-slide p {
    margin-top: 24px;
    text-align: left;
    display: grid;
    gap: 8px;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.48px;
}

.partners-swiper .swiper-slide p span {
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0;
}

.custom-nav {
    position: absolute;
    top: 43% !important;
    width: 44px !important;
    background: white;
    transform: translateY(-50%);
    border-radius: 50%;
    margin: 0 !important;
    opacity: 0 !important;
}

.custom-nav svg {
    width: 8px !important;
}

.swiper-button-prev.custom-nav {
    left: 40px;
}

.swiper-button-next.custom-nav {
    right: 13px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

@media (min-width: 1025px) {
    /* .swiper-wrapper { */
    /* display: flex; */
    /* } */

    .swiper-slide {
        flex: 1;
    }
}

/* advisory-section,success_stories_section */

.advisory-section {
    border-radius: 20px 20px 0 0;
}

.success_stories_section {
    border-radius: 0 0 20px 20px;
}

.advisory-section,
.success_stories_section {
    background-color: white;
    color: #302D27;
    /* border-radius: 20px; */
}

.advisory-section {
    padding: 120px 0;
}

.success_stories_section {
    padding-bottom: 120px;
}

.header-p {
    max-width: 799px;
}

.success_stories_section article {
    background-image: url('../image/customer-stories.svg');
    background-color: #5f5c5741;
    background-repeat: no-repeat;
    border: 2px solid #DFDEDD;
    height: 485px;
    padding: 48px 44px 44px 48px;
    gap: 0px;
    justify-content: space-between;
    background-size: cover;
}

.success_stories_section article h3 {
    white-space: wrap;
}

.success_stories_section article .stories-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.success_stories_section article a {
    color: #302D27;
}

/* faq */

.faq-section {
    margin: 120px auto;
}

.faq-section .faq-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.faq-section .faq-card {
    border-radius: 20px;
    padding: 16px;
    transition: all 0.3s ease;
    position: relative;
    background-color: #5F5C5715;
}

.faq-section .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-section .toggle-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--orange);
}

.faq-section .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.faq-section .faq-card.active .faq-answer {
    margin-top: 15px;
    max-height: 500px;
}

.faq-card button i {
    transition: transform 0.4s ease;

}

.faq-card.active button i {
    transform: rotate(135deg);
}

@media (max-width: 1024px) {
    .custom-nav {
        opacity: 1 !important;
    }
    .partners-content {
        gap: 21px;
    }

    .success_stories_section article {
        padding: 24px 28px 24px 24px;
        gap: 92px;
        height: auto
    }

    .header-p {
        max-width: 500px;
    }

    .advisory-section {
        padding: 64px 0;
    }

    .success_stories_section {
        padding-bottom: 64px;
    }

    .about-hero {
        margin-bottom: 64px !important;
    }

    .hero-content {
        margin-top: 48px;
    }

    .partners-section,
    .faq-section {
        margin: 64px auto;
    }

    .section-header {
        flex-wrap: wrap;
        margin-bottom: 24px;
    }

    .approach-section .approach-card figure:hover {
        width: 600px;
        max-width: 600px;
    }

    .approach-section .approach-card:hover h3 {
        bottom: 16%;
    }

    .approach-section .approach-card h3 {
        left: -20%;
    }

    .circle_dash {
        max-height: 242px !important;
        max-width: 242px !important;
        top: -10%;
        right: calc(57% + 60px);
        /* left: 0%; */
    }

    .outer-wrapper {
        padding-left: 60px;
        margin-top: 77px;
    }

    .partners-swiper {
        padding: 0;
    }

    .swiper {
        width: 90%;
    }
}

@media (max-width: 768px) {

    .breadcrumb a,
    .breadcrumb span {
        font-size: 11.1px;
        letter-spacing: 1.99px;
    }

    #hero.about-hero {
        margin-top: 41.5px;
    }

    .about-hero-text {
        padding: 0 24px 34px 24px;
    }

    .header-p span {
        margin-bottom: 0;
    }

    .about-hero-text h2.heading2 {
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -0.72px;
    }

    .approach-section .approach-card figure:hover,
    .approach-section .approach-card figure {
        width: 100%;
        max-width: 100%;
        height: 341px;
    }

    .approach-section .approach-card {
        position: relative;
        flex-grow: 1;
    }

    .approach-section .approach-content {
        flex-wrap: wrap;

    }

    /* .approach-section .approach-card h3 {
        position: absolute;
        rotate: 0deg;
        bottom: 20%;
        left: 6.2%;
        pointer-events: none;
    }

    .approach-section .approach-card p {
        display: inline;
        max-width: 500px;        
    } */
    .approach-section .approach-card h3,
    .approach-section .approach-card p {
        position: unset;
        rotate: unset;
        display: inline-block;
    }

    .approach-content .approach-card-text {
        position: absolute;
        bottom: 0;
        padding: 0 33px 24px 24px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .partners-swiper .swiper-slide p {
        margin-top: 16px;
        font-size: 16px;
        letter-spacing: -0.32px;
    }

    .partners-swiper .swiper-slide p span {
        font-size: 14px;
    }
}