/* Import */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
/* End of Import */

/* Hero Section */
#hero.details-hero-section {
    margin: 120px auto;
    gap: 48px;
}

.details-hero-section figure {
    overflow: hidden;
    width: 100%;
    height: 600px;
}

.details-hero-section figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* End of Hero Section */

.details-main-container {
    max-width: 1057px;
}

.news-section form {
    width: 100%;
}

.search-input {
    max-width: 660px;
}

.news-header {
    display: flex;
    gap: 48px;
}

.news-breadcrumb {
    max-width: 347px;
    width: 100%;
    font-family: "Archivo Narrow", sans-serif;
    display: flex;
    justify-content: space-between;
}

.news-breadcrumb a,
.news-breadcrumb span {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 130%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.news-section-header {
    max-width: 732px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 48px 0;
}

.benefits-container,
.news-details-item,
.news-details-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.px-16 {
    padding: 16px 0;
}

/* End of News Details Section */

/* otherNewsAndInsights-section */

.otherNewsAndInsights-section {
    margin: 120px 0;
}

.other-card-container {
    display: flex;
    gap: 20px;
}

.other-card-container .other-card {
    position: relative;
    width: 100%;
}

.other-card-content {
    position: absolute;
    bottom: 32px;
    left: 32px;
    right: 32px;
    padding: 32px 36px 32px 32px;
    max-width: 369px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.other-card-container figure {
    max-height: 575px;
    /* max-width: 606px; */
    width: 100%;
}

.other-card-container figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.other-card-content> :first-child {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* End of Other News and Insights Section */

/* Media Queries */
@media (max-width:1024px) {
    .other-card-content {
        gap: 24px;
        left: 10px;
        right: 10px;
        bottom: 13px;
    }
}

@media (max-width:768px) {
    #hero.details-hero-section {
        margin: 41.5px 0 64px 0;
        gap: 24px;
    }

    .benefits-container,
    .news-details-item,
    .news-details-container {
        gap: 16px;
    }

    .news-header {
        flex-wrap: wrap;
        gap: 24px;
    }

    .news-section-header {
        margin: 25px 0 31px 0;
    }

    .other-card-content {
        gap: 24px;
        left: 10px;
        right: 10px;
        bottom: 13px;
        padding: 24px 38px 24px 24px;

    }

    .otherNewsAndInsights-section {
        margin: 64px 0;
    }

    .other-card-content> :first-child {
        gap: 8px;
    }

    .details-hero-section figure {
       height: 380px;
    }
}

@media (max-width:767px) {
    .other-card-container {
        flex-wrap: wrap;
    }

    .other-card-container figure {
        max-height: 380px;
        height: 100%;
    }

    .other-card-content {
        width: auto;
        max-width: 100%;
    }

}

/* End of Media Queries */